.wc-lost-password{
	max-width:350px;
	margin:0px auto;
	padding:100px 20px;
}
.wc-lost-password p,
.wc-lost-password .campo{
	margin-bottom:20px;
}
.wc-lost-password .campo,
.wc-lost-password .boton{
	width:100%;
}

.wc-lost-password-confirmation{
	overflow: auto;
	text-align:center;
}
.wc-lost-password-confirmation .fa{
	color:#eee;
    font-size:200px;
    margin:0px 0px 20px;
}
.wc-lost-password-confirmation h1{
	color:#21313F;
    font-weight: 900;
    margin:0px 0px 20px;
}
				

/*################# TABLETS #################*/

@media all and (max-width: 1024px){
	
}

@media all and (max-width: 900px){
	
}

@media all and (max-width: 768px){	
	
}

/*################# MOVILES #################*/

@media all and (max-width: 700px){	

}

@media all and (max-width: 600px){
	
}

@media all and (max-width: 480px){
	
}