.ui-title{
	font-size:25px;
	margin-bottom:30px;
	font-weight:400;
}
.ui-title span{
	font-size:13px;
	color:var(--color-principal);
	text-transform:uppercase;
	font-weight:300;
	display:block;
	line-height: 13px;
}
.ui-shadow{
	 -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.12);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.ui-actions{
	width:100%;
	text-align:right;
}